body{
    background-color: black;
}
div.row div{
    width: 45px;
    height: 45px;
    border: 1px solid black;
    display: inline-block;
}
div.brick{
    background-color: blue;
}
div.coin{
    background: url("./coin.png.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
}
div.pacman{
    background: url("./pacman.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
div.empty{
    
}